.container {
    width: 100%;
    height: fit-content;
    background-color: rgb(250, 250, 250);
    display: flex;
}

.bannerImage {
    width: 40%;
    height: 200px;
    background-image: url('../../resources/footer-banner.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}

.section1 {
    font-size: 20px;
    padding: 25px 15px 70px 40px;
    width: 450px;
}
.section2 {
    font-size: 17px;
    margin-top: 30px;
    padding: 20px 10px 40px 50px;
    height: fit-content;
    border-left: 2px solid silver;
}
.buttonContainer {
    display: flex;
    width: fit-content;
    margin-top: 20px;
    gap: 10px;
}

.buttonContainer img {
    cursor: pointer;
}