.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;
    background-color: rgb(240,240,240);
    padding: 10px;
    height: fit-content;
}

.heading {
    font-weight: bold;
}

.eachContent {
    font-size: 13px;
    color: gray;
    cursor: pointer;
    margin-top: 7px;
}

.eachContent:hover {
    color: black;
}

.buttonContainer {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.buttonContainer img {
    cursor: pointer;
}